In [11]:
import pandas as pd
import shutil

In [12]:
length = 10
usDFList = []
israelDFList = []
for i in range(length):
    usDFList.append(pd.read_excel("/Users/veredwork/Documents/US_Historical_Data.xlsx", sheet_name=f"Sheet {i+1}"))
    israelDFList.append(pd.read_excel("/Users/veredwork/Documents/Israel_Historical_Data.xlsx", sheet_name=f"Sheet {i+1}"))

In [13]:
for df in usDFList:
    companyName = df.columns[0].split(" - ")[1]
    df.columns = df.loc[0]
    df = df.loc[1: ]
    file_name = f"{companyName}.xlsx"
    df.to_excel(file_name, index=False)
    shutil.move(file_name,"US_Companies")
    
    print("done", companyName)

done US Amazon
done US Microsoft
done US Alphabet
done US Apple
done US NVIDIA
done US Tesla
done US Eli Lilly
done JP Morgan
done US Walmart
done US Meta

In [14]:
for df in israelDFList:
    companyName = df.columns[0].split(" - ")[1]
    df.columns = df.loc[0]
    df = df.loc[1: ]
    file_name = f"{companyName}.xlsx"
    df.to_excel(file_name, index=False)
    shutil.move(file_name,"Israel_Companies")
    
    print("done", companyName)

done Israel Checkpoint
done Israel Teva
done Israel Monday
done Israel NICE
done Israel CyberArk
done Israel WIX
done Israel ELBIT
done Israel Leonardo
done Israel Nova LTD
done Israel ICL Group

In [5]:
df = usDFList[0]

In [6]:
df.head()

,HistoricalData_1722339536023 - US Amazon,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,Date,Close/Last,Volume,Open,High,Low
1,2024-02-08 00:00:00,$167.90,141448400,$166.75,$168.77,$160.55
2,2024-01-08 00:00:00,$184.07,70435640,$189.285,$190.60,$181.87
3,07/31/2024,$186.98,41667330,$185.05,$187.94,$184.46
4,07/30/2024,$181.71,39508570,$184.72,$185.86,$179.38

In [9]:
companyName = df.columns[0]

In [11]:
companyName = companyName.split(" - ")[1]

In [12]:
companyName

'US Amazon'

In [13]:
columns = df.loc[0]
df.columns = columns
df.columns

Index(['Date', 'Close/Last', 'Volume', 'Open', 'High', 'Low'], dtype='object', name=0)

In [14]:
df.head(
)

0                 Date  Close/Last     Volume      Open     High      Low
0                 Date  Close/Last     Volume      Open     High      Low
1  2024-02-08 00:00:00     $167.90  141448400   $166.75  $168.77  $160.55
2  2024-01-08 00:00:00     $184.07   70435640  $189.285  $190.60  $181.87
3           07/31/2024     $186.98   41667330   $185.05  $187.94  $184.46
4           07/30/2024     $181.71   39508570   $184.72  $185.86  $179.38

In [15]:
df = df.loc[1: ]

In [16]:
df

0                    Date Close/Last     Volume      Open      High       Low
1     2024-02-08 00:00:00    $167.90  141448400   $166.75   $168.77   $160.55
2     2024-01-08 00:00:00    $184.07   70435640  $189.285   $190.60   $181.87
3              07/31/2024    $186.98   41667330   $185.05   $187.94   $184.46
4              07/30/2024    $181.71   39508570   $184.72   $185.86   $179.38
5              07/29/2024    $183.20   33270120   $183.84   $184.75   $182.38
...                   ...        ...        ...       ...       ...       ...
1258           08/05/2019   $88.2565  121164240   $88.511  $89.4334   $87.439
1259           08/02/2019    $91.162   99124500  $92.2535  $92.3182   $90.401
1260           08/01/2019    $92.766   94266220   $93.586   $94.896  $92.2005
1261           07/31/2019    $93.339   89414540  $94.9055  $94.9775   $92.472
1262           07/30/2019   $94.9265   58217760  $94.5558  $95.4945   $94.174

[1262 rows x 6 columns]